
* {
    font-family: sans-serif;

}

body{
    margin: 0;
}
nav, footer {

    background-color: #34516C;
    position: relative;
    height: 9vw;
    width: 100%;
}

#logo {
    width: auto;
    height: 95%;
    position: absolute;
    left: 5px;
    top: 0;

}
#title {
    font-weight: 1000;
    font-size: 3.5vw;
    color: #BE1622;

    position: absolute;
    top: 2vw;
    left: 30%;
    white-space: nowrap;

}

#breadcrumbs{
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 1.5vw;

}

a:hover{
    color: #007FB0;
}
a{
    text-decoration: none;
}
#breadcrumbs a {
    margin-left: 10px;
    text-decoration: none;
    color: #53B7E8;
}


main{
    width: 900px;
    margin: auto;
}

main h2{
    color: #F3BE00;
}

main h1 {
    color: #EC6E0B;
}

footer div {
    width: max-content;
    position: absolute;
    top: 10%;
    color: #D0D2E0;
    margin: 1px;
}

footer{
    height: 12vw;
}

footer h3 {
    margin: 0;
}

#contact {
    left: 10px;
}
#location {
    right: 10px;
}
@media (max-width: 915px) {
    main{
        width: 95vw;
        margin: auto;
        margin-top: 40px;
    }

    main h1 {
        font-size: 4.5vw;
    }
    iframe {
        width: 94vw;
        height: 82vw;
    }

    #location, #contact {
        font-size: 2vw;
    }
    #breadcrumbs {
        width: 5vw;
        height: 5vw;
        display: block;
        border: none;
        bottom: 20%;
        background: linear-gradient(
                #BC1C26, #BC1C26 20%,
                #34506c 20%, #34506c 40%,
                #BC1C26 40%, #BC1C26 60%,
                #34506c 60%, #34506c 80%,
                #BC1C26 80%, #BC1C26 100%
        );
    }
    #slider_menu{
        visibility: hidden;

        position: fixed;

        left: -1000px;
        padding: 7px;
        border-radius: 5px;
        width: max-content;
        font-size: 3vw;
    }

    #checkbox:checked + #breadcrumbs div{
        visibility: visible;
        transition: 0.5s;
        top: 9vw;
        left: 0;
        background-color: #BB1C27FF;
    }

}
#checkbox {
    visibility: hidden;
}

#products{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.item{
    border: 2px solid grey;
    border-radius: 5px;
    margin: 5px;
    /*position: relative;*/
}

.item_img{
    width: 250px;
    height: 270px;
}
.item_details{

    background-color: #dee0ea;
    width: 250px;
    height: 200px;
    padding: 10px;
    position: relative;
}

/*.item_description{*/
/*    width: 100%;*/
/*}*/

/*.item_name{*/
/*    display: block;*/
/*}*/

.item_price{
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-weight: 600;
    font-size: 150%;
}

.item_buy_button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

