/*@media (max-width: 599px) {*/
/*    body{*/
/*        background-color: red;*/
/*    }*/
/*}*/

* {
    font-family: sans-serif;
}

body{
    margin: 0;
}
nav, footer {

    background-color: #34516C;
    position: relative;
    height: 9vw;
    width: 100%;
}

#logo {
    width: auto;
    height: 95%;
    position: absolute;
    left: 5px;
    top: 0;

}
#title {
    font-weight: 1000;
    font-size: 3.5vw;
    color: #BE1622;

    position: absolute;
    top: 2vw;
    left: 30%;
    margin: 0;
    width: min-content;
    white-space: nowrap;

}

#breadcrumbs{
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 2vw;
}
a{
    color: black;
    text-decoration: none;

}
#breadcrumbs a:hover{
    color: #007FB0;
}


main{
    width: 700px;
    margin: auto;
}

main h2{
    color: #F3BE00;
}

main h1 {
    color: #EC6E0B;
}

footer div {
    width: max-content;
    position: absolute;
    top: 10%;
    color: #D0D2E0;
    margin: 1px;
}

footer{
    height: 12vw;
}

footer h3 {
    margin: 0;
}

#contact {
    left: 10px;
}
#location {
    right: 10px;
}
@media (max-width: 715px) {
    main{
        width: 95vw;
        margin: auto;
    }
    main h1 {
        font-size: 4.5vw;
    }
    iframe {
        width: 94vw;
        height: 82vw;
    }

    #location, #contact {
        font-size: 2vw;
    }

}
